body{
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: wheat;
}
.container{
    width:600px;
    height:600px;


    /* border:2px solid black; */
    
}
.container-1{
    width:600px;
    height: 75px;
    border:2px solid black;
    display: flex;
    
}

.child-1{
    width: 75px;
    height:75px;
    border:2px solid;
    background-color: bisque; 
    display:flex;
    justify-content: center;
    align-items: center;

}
.child-2{
    width: 75px;
    height:75px;
    border:2px solid;
    background-color: #704205;
    display:flex;
    justify-content: center;
    align-items: center;

}
.child-3{
    width: 75px;
    height:75px;
    border:2px solid;
    background-color: bisque;
    display:flex;
    justify-content: center;
    align-items: center;

}
.child-4{
    width: 75px;
    height:75px;
    border:2px solid;
    background-color: #704205;
    display:flex;
    justify-content: center;
    align-items: center;

}
.child-5{
    width: 75px;
    height:75px;
    border:2px solid;
    background-color: bisque;
    display:flex;
    justify-content: center;
    align-items: center;

}
.child-6{
    width: 75px;
    height:75px;
    border:2px solid;
    background-color: #704205;
    display:flex;
    justify-content: center;
    align-items: center;

}
.child-7{
    width: 75px;
    height:75px;
    border:2px solid;
    background-color: bisque;
    display:flex;
    justify-content: center;
    align-items: center;

}
.child-8{
    width: 75px;
    height:75px;
    border:2px solid; 
    background-color: #704205;
    display:flex;
    justify-content: center;
    align-items: center;

}
.container-2{
    width:600px;
    height: 75px;
    border:2px solid black;
    display: flex;
}

.child-9{
    width: 75px;
    height:75px;
    border:2px solid ;
    background-color: #704205;
    display:flex;
    justify-content: center;
    align-items: center;

}
.child-10{
    width: 75px;
    height:75px;
    border:2px solid;
    background-color: bisque;
    display:flex;
    justify-content: center;
    align-items: center;

}
.child-11{
    width: 75px;
    height:75px;
    border:2px solid ;
   background-color: #704205;
    display:flex;
    justify-content: center;
    align-items: center;

}
.child-12{
    width: 75px;
    height:75px;
    border:2px solid;
    background-color: bisque;
    display:flex;
    justify-content: center;
    align-items: center;

}
.child-13{
    width: 75px;
    height:75px;
    border:2px solid;
    background-color: #704205;
    display:flex;
    justify-content: center;
    align-items: center;

}
.child-14{
    width: 75px;
    height:75px;
    border:2px solid; 
    background-color: bisque;
    display:flex;
    justify-content: center;
    align-items: center;

}
.child-15{
    width: 75px;
    height:75px;
    border:2px solid ;
    background-color: #704205;
    display:flex;
    justify-content: center;
    align-items: center;

}
.child-16{
    width: 75px;
    height:75px;
    border:2px solid ;
    background-color: bisque;
    display:flex;
    justify-content: center;
    align-items: center;

}
.container-3{
    width:600px;
    height: 75px;
    border:2px solid black;
    display: flex;
}

.child-17{
    width: 75px;
    height:75px;
    border:2px solid ;
    background-color: bisque;
}
.child-18{
    width: 75px;
    height:75px;
    border:2px solid;
    background-color: #704205;
}
.child-19{
    width: 75px;
    height:75px;
    border:2px solid ;
    background-color: bisque;
}
.child-20{
    width: 75px;
    height:75px;
    border:2px solid;
    background-color: #704205;
}
.child-21{
    width: 75px;
    height:75px;
    border:2px solid;
    background-color: bisque;
}
.child-22{
    width: 75px;
    height:75px;
    border:2px solid ;
    background-color: #704205;
}
.child-23{
    width: 75px;
    height:75px;
    border:2px solid ;
    background-color: bisque;
}
.child-24{
    width: 75px;
    height:75px;
    border:2px solid ;
    background-color: #704205;
}
.container-4{
    width:600px;
    height: 75px;
    border:2px solid black;
    display: flex;
}

.child-25{
    width: 75px;
    height:75px;
    border:2px solid;
    background-color: #704205;
}
.child-26{
    width: 75px;
    height:75px;
    border:2px solid;
    background-color: bisque;
}
.child-27{
    width: 75px;
    height:75px;
    border:2px solid;
    background-color: #704205;
}
.child-28{
    width: 75px;
    height:75px;
    border:2px solid;
    background-color: bisque;
}
.child-29{
    width: 75px;
    height:75px;
    border:2px solid;
    background-color: #704205;
}
.child-30{
    width: 75px;
    height:75px;
    border:2px solid;
    background-color: bisque;
}
.child-31{
    width: 75px;
    height:75px;
    border:2px solid;
    background-color: #704205;
}
.child-32{
    width: 75px;
    height:75px;
    border:2px solid;
    background-color: bisque;
}
.container-5{
    width:600px;
    height: 75px;
    border:2px solid black;
    display: flex;
}

.child-33{
    width: 75px;
    height:75px;
    border:2px solid;
    background-color: bisque;
}
.child-34{
    width: 75px;
    height:75px;
    border:2px solid;
    background-color: #704205;
}
.child-35{
    width: 75px;
    height:75px;
    border:2px solid;
    background-color: bisque;
}
.child-36{
    width: 75px;
    height:75px;
    border:2px solid;
    background-color: #704205;
}
.child-37{
    width: 75px;
    height:75px;
    border:2px solid;
    background-color: bisque;
}
.child-38{
    width: 75px;
    height:75px;
    border:2px solid;
    background-color: #704205;
}
.child-39{
    width: 75px;
    height:75px;
    border:2px solid;
    background-color: bisque;
}
.child-40{
    width: 75px;
    height:75px;
    border:2px solid;
    background-color: #704205;
}
.container-6{
    width:600px;
    height: 75px;
    border:2px solid black;
    display: flex;
}

.child-41{
    width: 75px;
    height:75px;
    border:2px solid;
    background-color: #704205;
}
.child-42{
    width: 75px;
    height:75px;
    border:2px solid;
    background-color: bisque;
}
.child-43{
    width: 75px;
    height:75px;
    border:2px solid;
    background-color: #704205;
}
.child-44{
    width: 75px;
    height:75px;
    border:2px solid;
    background-color: bisque;
}
.child-45{
    width: 75px;
    height:75px;
    border:2px solid;
    background-color: #704205;
}
.child-46{
    width: 75px;
    height:75px;
    border:2px solid;
    background-color: bisque;
}
.child-47{
    width: 75px;
    height:75px;
    border:2px solid;
    background-color: #704205;
}
.child-48{
    width: 75px;
    height:75px;
    border:2px solid;
    background-color: bisque;
}
.container-7{
    width:600px;
    height: 75px;
    border:2px solid black;
    display: flex;
}

.child-49{
    width: 75px;
    height:75px;
    border:2px solid;
    background-color: bisque;
    display:flex;
    justify-content: center;
    align-items: center;
}
.child-50{
    width: 75px;
    height:75px;
    border:2px solid;
    background-color: #704205;
    display:flex;
    justify-content: center;
    align-items: center;
}
.child-51{
    width: 75px;
    height:75px;
    border:2px solid;
    background-color: bisque;
    display:flex;
    justify-content: center;
    align-items: center;
}
.child-52{
    width: 75px;
    height:75px;
    border:2px solid;
    background-color: #704205;
    display:flex;
    justify-content: center;
    align-items: center;
}
.child-53{
    width: 75px;
    height:75px;
    border:2px solid;
    background-color: bisque;
    display:flex;
    justify-content: center;
    align-items: center;
}
.child-54{
    width: 75px;
    height:75px;
    border:2px solid;
    background-color: #704205;
    display:flex;
    justify-content: center;
    align-items: center;

}
.child-55{
    width: 75px;
    height:75px;
    border:2px solid;
    background-color: bisque;
    display:flex;
    justify-content: center;
    align-items: center;
}
.child-56{
    width: 75px;
    height:75px;
    border:2px solid;
    background-color: #704205;
    display:flex;
    justify-content: center;
    align-items: center;
}
.container-8{
    width:600px;
    height: 75px;
    border:2px solid black;
    display: flex;
}

.child-57{
    width: 75px;
    height:75px;
    border:2px solid;
    background-color: #704205;
    display:flex;
    justify-content: center;
    align-items: center;
}
.child-58{
    width: 75px;
    height:75px;
    border:2px solid;
    background-color: bisque;
    display:flex;
    justify-content: center;
    align-items: center;
}
.child-59{
    width: 75px;
    height:75px;
    border:2px solid;
    background-color: #704205;
    display:flex;
    justify-content: center;
    align-items: center;
}
.child-60{
    width: 75px;
    height:75px;
    border:2px solid;
    background-color: bisque;
    display:flex;
    justify-content: center;
    align-items: center;
}
.child-61{
    width: 75px;
    height:75px;
    border:2px solid;
    background-color: #704205;
    display:flex;
    justify-content: center;
    align-items: center;
}
.child-62{
    width: 75px;
    height:75px;
    border:2px solid;
    background-color: bisque;
    display:flex;
    justify-content: center;
    align-items: center;
}
.child-63{
    width: 75px;
    height:75px;
    border:2px solid;
    background-color: #704205;
    display:flex;
    justify-content: center;
    align-items: center;
}
.child-64{
    width: 75px;
    height:75px;
    border:2px solid ;
    background-color: bisque;
    display:flex;
    justify-content: center;
    align-items: center;
}
